body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: "Baloo 2", sans-serif;
  justify-content: space-around;
}

header {
  font-family: "Baloo 2", sans-serif;
  background-color: #141313;
  display: flex;
  align-items: center;
  padding: 5px;
}
.header_links a {
  display: inline-block;
  position: relative;
  bottom: 40px;
  right: 3rem;
  transition: transform 0.8s;
}

.header_links a:hover {
  color: #e11456;
  transform: scale(1.3);
}
.header_links a:hover::after {
  right: 0;
}

header img {
  width: 150px;
  margin-left: 30px;
}

header a {
  text-decoration: none;
  margin: 1rem;
  color: #d9d9d9;
}

.header_links {
  margin-left: auto;
}

#linhaHorizontal {
  border-right: 1px solid white;
  padding: 3rem;
  transition: none;
  position: relative;
  top: 15px;
  right: 4rem;
  margin-right: 50px;
  transition: transform 10000s;
}

nav.navbar.fixed-top {
  display: none;
}
.offcanvas-body {
  background-color: #000000;
}
.offcanvas-body .nav-item .nav-link {
  color: #d9d9d9;
}
.offcanvas-body a:hover {
  color: #e11456;
}
.offcanvas-body {
  background-color: #141313;
}
.offcanvas-body .nav-item .nav-link {
  color: #d9d9d9;
  font-size: 17px;
}
#bordas{
  text-align: center;
}
input {
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  padding: 1.1rem;
  width: 30rem;
  height: 2rem;
  border: none;
  text-align: center;
}
#pesquisa {
  background-color: #e11456;
  font-family: "Poppins", sans-serif;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  width: 12rem;
  height: 2rem;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  transition: transform 0.8s;
}
#pesquisa:hover {
  color: #d9d9d9;
  transform: scale(1.3);
}
.borda-topicos {
  display: inline-block;
  background-color: #141313;
  border-radius: 3rem;
  padding: 3rem;
  width: 15rem;
  height: 10rem;
  text-decoration: none;
  overflow: hidden; /* Adicionado para evitar que a animação ultrapasse a borda */
  transition: transform 0.8s ease;
  margin-left: 3%;
}
.borda-topicos:hover {
  background-color: #e11456;
  border-color: #e11456;
  transform: scale(1.3);
}

.topico {
  text-align: center;
  color: #d9d9d9;
}

#artist-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  color: #d9d9d9;
  padding-top: 3rem;
  cursor: pointer;
}

.center {
  text-align: center;
}

.artist-item {
  background-color: #141313;
  border: 1px solid #141313;
  padding: 5px;
  text-align: center;
  transition: transform 0.7s ease;
}
.artist-item:hover {
  transform: scale(1.1);
  background-color: #e11456;
}

.artist-image {
  max-width: 100%;
  height: 14rem;
  width: 13rem;
  color: aliceblue;
}

footer {
  background-color: #141313; /* Cor de fundo do rodapé, ajuste conforme necessário */
  color: white; /* Cor do texto do rodapé, ajuste conforme necessário */
  padding: 20px; /* Espaçamento interno do rodapé, ajuste conforme necessário */
  text-align: center;
  margin-top: auto; /* Mantém o rodapé no final da página */
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
footer #logoFooter {
  height: auto;
  width: 150px;
  margin-top: 15px;
}

footer div {
  font-size: 1.2em;
}

footer a {
  display: inline-block;
  text-decoration: none;
  margin: 0.7em 0;
  font-size: 0.6em;
  color: #d9d9d9;
}

footer a:hover {
  color: #e11456;
}

footer p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.6em;
}

#icones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#icones a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

#icones img {
  width: 30px;
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    font-size: 14px;
    padding: 0px;
  }
  input {
    width: 16rem;
  }
  #pesquisa {
    width: 8rem;
  }
  #artist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .artist-image {
    width: auto;
    height: 10rem;
  }
  nav.navbar.fixed-top {
    display: block;
  }
  .borda-topicos {
    width: 10rem;
    font-size: 12px;
  }

  footer div {
    flex: 0 0 100%;
    text-align: center;
  }

  footer {
    padding: 10px;
  }

  #icones {
    margin-bottom: 1rem;
  }

  #icones a {
    margin: 0 5px;
  }

  #icones img {
    width: 20px;
  }

  #linhaHorizontal {
    display: none;
  }
  .d-md-none {
    display: block !important;
  }
}
@media only screen and (max-width: 800px) {
  /* Esconder a div com o logo e a navegação em telas menores que 801 pixels */
  .header_links {
    display: none !important;
  }
}
