
body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

header {
    font-family: "Baloo 2", sans-serif;
    background-color: #141313;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .header_links a {
    display: inline-block;
    position: relative;
    bottom: 40px;
    right: 3rem;
    transition: transform 0.8s;
  }
  
  .header_links a:hover {
    color: #e11456;
    transform: scale(1.3);
  }
  .header_links a:hover::after {
    right: 0;
  }
  
  header img {
    width: 150px;
    margin-left: 30px;
  }
  
  header a {
    text-decoration: none;
    margin: 1rem;
    color: #d9d9d9;
  }
  
  .header_links {
    margin-left: auto;
  }
  
  #linhaHorizontal {
    border-right: 1px solid white;
    padding: 3rem;
    transition: none;
    position: relative;
    top: 15px;
    right: 4rem;
    margin-right: 50px;
    transition: transform 10000s;
  }
  
  nav.navbar.fixed-top {
    display: none;
  }
  .offcanvas-body {
    background-color: #000000;
  }
  .offcanvas-body .nav-item .nav-link {
    color: #d9d9d9;
  }
  .offcanvas-body a:hover {
    color: #e11456;
  }
  .offcanvas-body {
    background-color: #141313;
  }
  .offcanvas-body .nav-item .nav-link {
    color: #d9d9d9;
    font-size: 17px;
  }

#artist-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  color: aliceblue;
}

.artist-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: aliceblue;
}

.artist-image {
  max-width: 100%;
  height: auto;
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      font-size: 14px;
      padding: 0px;
    }
    nav.navbar.fixed-top {
      display: block;
    }
  
    footer div {
      flex: 0 0 100%;
      text-align: center;
    }
  
    footer {
      padding: 10px;
    }
  
    #icones {
      margin-bottom: 1rem;
    }
  
    #icones a {
      margin: 0 5px;
    }
  
    #icones img {
      width: 20px;
    }
  
    #linhaHorizontal {
      display: none;
    }
    .d-md-none {
      display: block !important;
    }
  }
  @media only screen and (max-width: 800px) {
    /* Esconder a div com o logo e a navegação em telas menores que 801 pixels */
    .header_links {
      display: none !important;
    }
  }