@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    background: #000;
    font-family: 'Poppins', sans-serif;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-e-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

input{
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    padding: 1.1rem;
    width: 21rem;
    border: none;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    color: #d9d9d9;
}

.entrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border: none;
    text-decoration: none;
}

button{
    background-color: #e11456;
    font-family: 'Poppins', sans-serif;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    width: 13rem;
    font-weight: 900;
    font-size: 1rem;
    border: none;
}

button:hover{
    color: #fff;
    transform: scale(1.1);
}

.esqueceu-a-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}

.esqueceu-a-senha:hover{
    color: #e11456;
}

h4{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    border: #fff 0.1rem solid;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 15rem;
    margin-left: 21rem;
}

.google:hover{
    color: #e11456;
    transform: scale(1.1);
} 

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 0.9rem;
    color: #fff; 
    text-decoration: none;
    border: #fff 0.1rem solid;
    border-radius: 1rem; 
    padding: 0.5rem;
    width: 15rem; 
    margin-left: 21rem;
}

.facebook:hover{
    color: #e11456;
    transform: scale(1.1);
}

.apple{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    border: #fff 0.1rem solid;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 15rem;
    margin-left: 21rem;
}

.apple:hover{
    color: #e11456;
    transform: scale(1.1);
}



i{
    padding: 0.5rem;
}

.nao-tem-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
}

.nao-tem-cadastro:hover{
    color: #e11456;
} 