* {
  margin: 0;
  box-sizing: border-box;
  color: #d9d9d9;
}

body {
  background-color: #000000;
  font-family: "Baloo 2", sans-serif;
}

.banner {
  width: 100%;
  max-height: 500px; /* Ajuste conforme necessário */
  position: relative;
  overflow: hidden;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Você pode ajustar isso conforme necessário */
}

.logo {
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 15px;
}
li a:hover {
  background: white;
  transition: 0.6s;
}

.content {
  width: 100%;
  position: absolute;
  color: white;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1 {
  margin-top: 80px;
  font-size: 90px;
  font-weight: 800;
}

button:hover {
  background: rgb(0, 192, 226);
  transition: 0.5s;
}
button:hover {
  color: white;
}
.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .banner video {
    width: 100%;
    height: auto;
  }
}
.center {
  text-align: center;
}

.card-text {
  color: black;
}

.row {
  margin: -12px;
}
.a {
  color: #000000;
  font-size: 1em;
  text-decoration: none;
  align-items: center;
  background-color: #e11456;
  padding: 8px 20px;
  border: 1px solid;
  border-radius: 40px;
}
header {
  font-family: "Baloo 2", sans-serif;
  background-color: #141313;
  display: flex;
  align-items: center;
  padding: 5px;
}
.header_links a {
  display: inline-block;
  position: relative;
  bottom: 40px;
  right: 3rem;
  transition: transform 0.8s;
}

.header_links a:hover {
  color: #e11456;
  transform: scale(1.3);
}
.header_links a:hover::after {
  right: 0;
}

header img {
  width: 150px;
  margin-left: 30px;
}

header a {
  text-decoration: none;
  margin: 1rem;
  color: #d9d9d9;
}

.header_links {
  margin-left: auto;
}

#linhaHorizontal {
  border-right: 1px solid white;
  padding: 3rem;
  transition: none;
  position: relative;
  top: 15px;
  right: 4rem;
  margin-right: 50px;
  transition: transform 10000s;
}

nav.navbar.fixed-top {
  display: none;
}
.offcanvas-body {
  background-color: #000000;
}
.offcanvas-body .nav-item .nav-link {
  color: #d9d9d9;
}
.offcanvas-body a:hover {
  color: #e11456;
}
.offcanvas-body {
  background-color: #141313;
}
.offcanvas-body .nav-item .nav-link {
  color: #d9d9d9;
  font-size: 17px;
}

/*footer*/
footer {
  background-color: #141313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  font-family: "Baloo 2", sans-serif;
  color: #d9d9d9;
}

footer #logoFooter {
  height: auto;
  width: 150px;
  margin-top: 15px;
}

footer div {
  font-size: 1.2em;
}

footer a {
  display: inline-block;
  text-decoration: none;
  margin: 0.7em 0;
  font-size: 0.6em;
  color: #d9d9d9;
}

footer a:hover {
  color: #e11456;
}

footer p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.6em;
}

#icones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#icones a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

#icones img {
  width: 30px;
  margin-right: 5px;
}

/*smartphones*/
@media only screen and (max-width: 480px) {
  header {
    flex-direction: column;
    font-size: 14px;
    padding: 0px;
  }
  nav.navbar.fixed-top {
    display: block;
  }
  .header_links {
    display: none;
  }
  
  footer div {
    flex: 0 0 100%;
    text-align: center;
  }

  footer {
    padding: 10px;
  }

  #icones {
    margin-bottom: 1rem;
  }

  #icones a {
    margin: 0 5px;
  }

  #icones img {
    width: 20px;
  }

  #linhaHorizontal {
    display: none;
  }
}

/*tablet*/
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    font-size: 14px;
    padding: 0px;
  }
  nav.navbar.fixed-top {
    display: block;
  }

  footer div {
    flex: 0 0 100%;
    text-align: center;
  }

  footer {
    padding: 10px;
  }

  #icones {
    margin-bottom: 1rem;
  }

  #icones a {
    margin: 0 5px;
  }

  #icones img {
    width: 20px;
  }

  #linhaHorizontal {
    display: none;
  }
  .d-md-none {
    display: block !important;
  }
}
@media only screen and (max-width: 800px) {
  /* Esconder a div com o logo e a navegação em telas menores que 801 pixels */
  .header_links {
    display: none !important;
  }
}